{% macro Inactive(data) -%}
<div class="inactive">
      {% for element in data%}
      <div>
        <div>Mesh ID: {{element.mesh_id}}</div>
        <div>Type: {{element.type}}</div>
        <form method="POST" action="/nodes/{{element.node_id}}">
          <input hidden type="text" name="method" value="patch">
          <input hidden type="text" name="active" value="1">
          <input hidden type="text" name="redirect" value="True">
          <button>Activate</button>
        </form>
      </div>
      {% endfor %}
</div>
{%- endmacro %}