{% from "/components/icon.html" import Icon %}

{% macro Inactive(data) -%}
  <div class="inactive" id="inactive">
    {% for element in data%}
      <div data-style="{{element.type}}">
        <header class="inactive--header">
          <div>
            <span>Nr: {{element.node_id}}</span>
          </div>
          {{Icon(element.type)}}
        </header>
        <div class="inactive--content">
          <div>
            <span>Typ:</span>
            {% if element.type == "90" %}
              <span>Temperatur und Feuchtigkeit</span>
            {% endif %}
          </div>

          <div>
            <span>Erstellt:</span>
            <span>{{element.created}}</span>
          </div>
        </div>
        <form method="POST" action="/nodes/{{element.node_id}}">
          <input hidden type="text" name="method" value="patch" />
          <input hidden type="text" name="active" value="1" />
          <input hidden type="text" name="redirect" value="True" />
          <button>Hinzufügen</button>
        </form>
      </div>
    {% endfor %}
  </div>

  <script>
    const inactive = document.getElementById("inactive")
    const event = new EventSource("/nodes/sse");

    event.addEventListener("message", (event) => {
      const data = JSON.parse(event.data);
      if (data.length == 0) return;

      data.map((element) => {
        inactive.appendChild(addEvent(element));
      });
    });

    const addEvent = (element) => {
      const div = document.createElement("div");
      div.setAttribute("data-style", element.type);

      div.innerHTML = `
      <header class="inactive--header">
          <div>
            <span>Nr: ${element.node_id}</span>
          </div>
        </header>
        <div class="inactive--content">
          <div>
            <span>Typ:</span>
            ${element.type == "90" ? "<span>Temperatur und Feuchtigkeit</span>" : ""}
          </div>
          <div>
            <span>Erstellt:</span>
            <span>${element.created}</span>
          </div>
        </div>
        <form method="POST" action="/nodes/${element.node_id}">
          <input hidden type="text" name="method" value="patch" />
          <input hidden type="text" name="active" value="1" />
          <input hidden type="text" name="redirect" value="True" />
          <button>Hinzufügen</button>
        </form>
    `;

      return div
    };
  </script>
{%- endmacro %}
