{% from "/components/input.html" import Input %}

{% macro Table(headings, list, link) -%}
<div class="table--container">
  <table class="table" id="table">
    <thead>
      <tr>
        {% for element in headings %}
        <th>{{element}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="tbody">
      {% for element in list %}
      <tr>
      {% for key, value in element.items() %}
      {% if key == "link" %}
      <td class="link {% if link %} active {% endif %}"><a href="{{value}}"></a></td>
        {% else %}
        <td>{{value}}</td>
      {% endif %}
      {% endfor %} 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro %}
