{% from "/components/table.html" import Table %}
{% from "/components/input.html" import Input %}
{% from "/components/select.html" import Select %}

{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block css %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/device.css') }}"
  />
{% endblock %}
{% block content %}
  <div class="info">
    <div class="card">
      <header>
        <h2>Einstellungen</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path><circle cx="12" cy="12" r="3"></circle></svg>
      </header>
      <form method="POST" action="/nodes/{{device.node_id}}">
        {{Input("text", device.name, "", "", "Name", "name")}}
        {{Select([{"value": 1, "label": "Offen"}, {"value": 0, "label": "Geschlossen"}], "Status", "state", device.state)}}
        <input hidden type="text" name="method" value="patch" />
        <input hidden type="text" name="redirect" value="True" />
        <button>Speichern</button>
      </form>
    </div>
  </div>
  <div class="card">
    <h2>Aktuelle Daten</h2>
    {{Table(["ID", "Created", "Type"], data, True)}}
  </div>
  <script>
    const inactive = document.getElementById("tbody");
    const event = new EventSource("/data/sse?node_id={{device.node_id}}");

    event.addEventListener("message", (event) => {
      console.log("message")
      const data = JSON.parse(event.data);
      if (data.length == 0) return;

      data.map((element) => {
        inactive.appendChild(addEvent(element));
      });
    });

    const addEvent = (element) => {
      const object = document.createElement("tr");

      object.innerHTML = `
        <td>${element.data_id}</td>
        <td>${element.created}</td>
        <td>${element.payload}</td>
    `;

      return object;
    };
  </script>
{% endblock %}
