{% from "/components/table.html" import Table %}
{% from "/components/input.html" import Input %}

{% extends "base.html" %} {% block title %}Devices{% endblock %}
{% block content %}
  <div class="grid">
    <div class="card">
      <h2>Info</h2>
      <form>
        {{Input("text", "", "", "test", "Name")}}
      </form>
    </div>
    <div class="card" data-aspect="widescreen">
      <table class="charts-css line" id="my-chart">
        <tbody>
          <tr>
            <td style="--start: 0.0; --size: 0.1"> <span class="data">1</span> </td>
          </tr>
          <tr>
            <td style="--start: 0.1; --size: 0.2"> <span class="data">2</span> </td>
          </tr>
          <tr>
            <td style="--start: 0.2; --size: 0.6"> <span class="data">3</span> </td>
          </tr>
          <tr>
            <td style="--start: 0.6; --size: 0.4"> <span class="data">4</span> </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="card">
    <h2>Aktuelle Daten</h2>
    {{Table(["ID", "Created", "Type"], nodes, True)}}
  </div>
  <script>
    const inactive = document.getElementById("tbody");
    const event = new EventSource("/data/sse");

    event.addEventListener("message", (event) => {
      console.log("message")
      const data = JSON.parse(event.data);
      if (data.length == 0) return;

      inactive.appendChild(addEvent());

      data.map((element) => {
        inactive.appendChild(addEvent(element));
      });
    });

    const addEvent = (element) => {
      console.log(1)
      const object = document.createElement("tr");

      object.innerHTML = `
        <td>1</td>
        <td>2</td>
        <td>3</td>
    `;

      return object;
    };
  </script>
{% endblock %}
