{% from "/components/table.html" import Table %}

{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block content %}
  <div class="card">
    <h2>Übersicht</h2>
    {{Table(["ID", "Created", "Type", "Status"], devices, True)}}
  </div>

  <form method="POST" action="/nodes">
    <h2>Nodes</h2>
    <input type="text" name="type" value="90">
    <input type="text" name="name" value="Test Node">
    <input hidden type="text" name="redirect" value="True">
    <button>Submit</button>
  </form>


{% endblock %}