{% from "/components/table.html" import Table %}
{% from "/components/inactive.html" import Inactive %}

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Index</h1>

  <form method="POST" action="/nodes">
    <h2>Nodes</h2>
    <input type="text" name="node_id" value="4">
    <button>Submit</button>
  </form>

  <form method="POST" action="/data">
    <h2>Data</h2>
    <button>Submit</button>
  </form>

  <div class="card">
    {{Inactive(inactive_devices)}}
  </div>
  
  <div class="card">
    {{Table(["ID", "Created", "Type", "Mesh ID"], devices)}}
  </div>
{% endblock %}