html {
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-9);
  --surface-2-dark: var(--gray-8);
  --surface-3-dark: var(--gray-7);
  --surface-4-dark: var(--gray-6);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;
}

:root {
  --text-1: var(--gray-3);
  --text-2: var(--gray-5);
  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);
  --surface-shadow: var(--gray-12-hsl);
  --shadow-strength: 80%;
  --hover-1: hsla(0, 0%, 100%, 0.06);
}


:where(html) {
  --link: var(--indigo-7);
  --link-visited: var(--purple-7);
  -webkit-text-size-adjust: none;
  accent-color: var(--brand, var(--link));
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--brand, var(--link));
  font-family: var(--font-sans);
  line-height: 1.2;
  color: var(--text-1);
  scrollbar-color: var(--scrollthumb-color) transparent;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--surface-2);
  border: 3px solid var(--surface-3);
}

.body {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main {
  padding: var(--size-fluid-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-3);
  background: var(--gradient-8);
  background-size: cover;
  overflow: hidden;
}

.navigation {
  background-color: var(--surface-2);
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  position: sticky;
  top: 0;
  align-self: start;
  gap: var(--size-fluid-3);
  padding: var(--size-fluid-1);
  padding-inline: var(--size-fluid-2);
}

.navigation .logo {
  aspect-ratio: 1;
  background-color: var(--blue-9);
  border-radius: var(--radius-2);
}

.navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
}

.navigation li a {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
  text-decoration: none;
  color: var(--text-1);
}

.navigation .active {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.navigation a:hover {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.table--container {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-weight: normal;
}

.table th {
  text-align: start;
  padding: var(--size-2);
  vertical-align: top;
}

.table thead tr {
  border-block-end: var(--border-size-1) solid var(--surface-3);
}

.table tbody tr:not(:last-child) {
  border-block-end: var(--border-size-1) solid var(--surface-3);
}

.table tr {
  position: relative;
}

.table td {
  padding: var(--size-2);
  padding-block: var(--size-3);
}

.table .link {
  padding: 0;
  width: 0;
  height: 0;
}

.table .link a::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.table .link.active a::before {
  pointer-events: all;
}

.table tbody tr:hover {
  background-color: var(--stone-3);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
}

.area {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
}

.inactive {
  display: flex;
  gap: var(--size-fluid-2);
  overflow-x: auto;
  padding-block-end: var(--size-fluid-2);
}

.inactive > div {
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  padding: var(--size-fluid-1);
  display: flex;
  flex-direction: column;
  aspect-ratio: var(--ratio-widescreen);
  box-shadow: var(--shadow-1);
  min-width: 20rem;
  gap: var(--size-fluid-2);
  line-height: 1.2;
  justify-content: space-between;
}

.inactive--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inactive--header div {
  display: flex;
  flex-direction: column;
}

.inactive--header div > :first-child {
  font-size: var(--font-size-4);
}

.inactive--content {
  display: flex;
  flex-direction: column;
}

.inactive--content > :first-child {
  font-size: var(--font-size-3);
}

button {
  background: var(--blue-9);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-3);
  padding: var(--size-2);
  padding-inline: var(--size-3);
  border: none;
  color: var(--text-1);
}