:where(html) {
  --link: var(--indigo-7);
  --link-visited: var(--purple-7);
  --text-1: var(--gray-9);
  --text-2: var(--gray-7);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);
  --scrollthumb-color: var(--gray-7);
  -webkit-text-size-adjust: none;
  accent-color: var(--brand, var(--link));
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--brand, var(--link));
  color: var(--text-2);
  color-scheme: light;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;
}
@media (dynamic-range: high) {
  @supports (color: color(display-p3 0 0 0)) {
    :where(html) {
      --link: color(display-p3 0.1 0.4 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --link: var(--indigo-3);
    --link-visited: var(--purple-3);
    --text-1: var(--gray-1);
    --text-2: var(--gray-4);
    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
    --scrollthumb-color: var(--gray-6);
    --shadow-strength: 10%;
    --shadow-color: 220 40% 2%;
    color-scheme: dark;
  }
}

.body {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  background-color: var(--gray-1);
}

.navigation {
  background-color: var(--surface-1);
  box-shadow: var(--shadow-3);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  position: sticky;
  top: 0;
  gap: var(--size-fluid-3);
  padding: var(--size-fluid-1);
}

.navigation .logo {
  align-self: center;
  font-size: var(--font-size-4);
}

.navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
}

.navigation li a {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
  color: inherit;
  text-decoration: none;
  font-size: var(--font-size-2);
}

.navigation .active {
  background-color: var(--surface-2);
  box-shadow: var(--shadow-2);
  color: var(--gray-1);
}