:where(html) {
  --link: var(--indigo-7);
  --link-visited: var(--purple-7);
  --text-1: var(--gray-9);
  --text-2: var(--gray-7);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);
  --scrollthumb-color: var(--gray-7);
  -webkit-text-size-adjust: none;
  accent-color: var(--brand, var(--link));
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--brand, var(--link));
  color: var(--text-2);
  color-scheme: light;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;
}

.body {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  background-color: var(--stone-2);
}

.navigation {
  background-color: var(--gray-1);
  border-inline-end: var(--border-size-1) solid var(--gray-4);
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  position: sticky;
  top: 0;
  gap: var(--size-fluid-3);
  padding: var(--size-fluid-1);
}

.navigation .logo {
  font-size: var(--font-size-4);
}

.navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
}

.navigation li a {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
  color: var(--text-2);
  text-decoration: none;
  font-size: var(--font-size-2);
  font-weight: 600;
}

.navigation .active {
  background-color: var(--stone-3);
  color: var(--blue-9);
}

.navigation a:hover {
  background-color: var(--stone-3);
}